@use 'tokens' as *;

.home {
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  text-align: center;
  padding-top: 3rem;

  &__intro {
    max-width: 28rem;
  }

  &__title {
    font-family: $font-sans-cond;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: $color-accent;

    span {
      display: block;
      margin-block: 1.5rem;
      font-family: $font-serif;
      font-size: 5rem;
      color: $color-white;
    }
  }

  &__text {
    font-size: 0.9375rem;
    line-height: 1.8;
    color: $color-accent;
  }

  &__cta {
    display: grid;
    place-items: center;
    width: 9rem;
    aspect-ratio: 1;
    border-radius: 50%;
    font-family: $font-serif;
    font-size: 1.125rem;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: $color-dark;
    background: $color-white;
    position: relative;
    box-shadow: 0 0 0 0 rgba($color-white, 0.2);
    transition: box-shadow 750ms $ease-out-expo;

    @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:focus-visible {
        box-shadow: 0 0 0 2.75rem rgba($color-white, 0.2);
      }
    }
  }

  @include tablet {
    &__title {
      font-size: 1.25rem;
      letter-spacing: 3.38px;

      span {
        font-size: 9rem;
      }
    }

    &__text {
      font-size: 1rem;
    }

    &__cta {
      width: 15.125rem;
      font-size: 2rem;
      letter-spacing: 2px;
    }
  }

  @include desktop {
    flex-direction: row;
    align-items: flex-end;
    text-align: left;
    padding-bottom: 8rem;

    &__title {
      font-size: 1.75rem;
      letter-spacing: 4.72px;
    }

    &__text {
      font-size: 1.125rem;
    }

    &__cta {
      width: 17rem;
    }
  }
}
